body {
    background-image: url('https://www.desktopbackground.org/download/1920x1080/2011/02/26/163813_perforated-blue-metal-hd-wallpapers_1920x1200_h.jpg');
    background-position: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#okta-sign-in .auth-header {
    padding: 30px 90px 75px;
    /* position: relative; */
    border-bottom: 1px solid #ddd;
    z-index: 10;
    -moz-transition: padding-bottom .4s;
    -webkit-transition: padding-bottom .4s;
    /* transition: padding-bottom .4s; */
    border-radius: 50px;
    opacity: 0;
}

#okta-sign-in.auth-container.main-container {
    color: #f5f2f2;
    background-color: #24678087;
    border-color: #0c1821;
}

#okta-sign-in.auth-container.main-container {
    color: #f5f2f2;
    background-color: #24678087;
    border-color: #0c1821;
}

#okta-sign-in.auth-container.main-container {
    /* color: #fff; */
    background-color: #1a1d1a;
    border-color: #0c1821;
    border-radius: 20px 100px 20px 100px;
}

#okta-sign-in .o-form-head {
    color: #00BCD4;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: #fff 1px 0 10px;
}

#okta-sign-in.auth-container .okta-form-input-field {
    background-color: #231b1bc2;
    color: #000;
}

#okta-sign-in {
    font-family: montserrat,Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 400;
    /* line-height: 1.4; */
    /*background-color: #f9f9f9;*/
    background-color: #ffff;
    border-radius: 15px 50px 30px 5px;
    color: #777;
    position: relative;
    overflow: auto;
    /*border-radius: 3px;*/
    /*border-style: solid;*/
    border-style: none;
    /*border-width: 1px;*/
    height: 100%;
    margin: 0px; 
    margin-left: 100px;
    width: 400px;
    min-width: 300px;
}

#okta-sign-in .auth-org-logo {
  display: block;
  margin: 0 auto;
  /* max-width: 200px; */
  max-height: 40px;
  content: url(https://cdn.designcrowd.com/blog/2015/June/Yellow-Logos/10-yellow-pages.png);
  background-repeat: no-repeat;
}

#okta-sign-in .auth-divider .auth-divider-text {
  background-color: transparent; 
  position: relative;
  top: -.5em;
  padding: 0 15px;
}



#okta-sign-in .custom-checkbox label, #okta-sign-in .custom-radio label {
  display: block;
  position: relative;
  line-height: 16px;
  margin: 0;
  padding: 7px 10px 7px 24px;
  cursor: pointer;
  color: #00BCD4;
}

#okta-sign-in .o-form-head {
  color: #00BCD4;
  text-transform: uppercase;
}

#okta-sign-in.auth-container .button-primary, #okta-sign-in.auth-container .button-primary:hover {
  background: #00BCD4;
  color: #1a1d18;
}
     
.beacon-blank {
   background-color: #000;
}
#okta-sign-in.auth-container.main-container .bg-helper {
   color: #000;
}
#okta-sign-in.auth-container .okta-sign-in-header {
   border-bottom-color: #323232;
}
#okta-sign-in.auth-container .okta-form-input-field{
   background-color: #000;
   color: #000;
}
#okta-sign-in.auth-container .okta-form-input-field {
   border-color: #4d5061;
   outline: none;
}
#okta-sign-in.auth-container .okta-form-input-field.focused-input {
   border-color: #707280;
}

#okta-sign-in.auth-container .okta-form-input-field input {
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  color: #fff;
}

#okta-sign-in .registration-container .registration-link {
  margin-left: 10px;
  color: #00BCD4;
}

#okta-sign-in .infobox, #okta-sign-in .infobox-md {
  border: 1px solid #cc0000;
  border-radius: 3px;
  background-color: #fbfbfb;
}


#okta-sign-in .ajax-form-editor .infobox, #okta-sign-in .edit-form .infobox, #okta-sign-in .form-content-wrap .infobox, #okta-sign-in .m-form .infobox, #okta-sign-in .o-form .infobox, #okta-sign-in .read-only-form .infobox, #okta-sign-in .v-form .infobox {
  background-color: #101d1a;
}

#okta-sign-in.auth-container.main-container {
   color: #fff;
   background-color: #1a1d1a;
   border-color: #0c1821;
}
.beacon-blank {
   background-color: #000;
}
#okta-sign-in.auth-container.main-container .bg-helper {
   color: #000;
}
#okta-sign-in.auth-container .okta-sign-in-header {
   border-bottom-color: #323232;
}
#okta-sign-in.auth-container .okta-form-input-field{
   background-color: #000;
   color: #000;
}
#okta-sign-in.auth-container .okta-form-input-field {
   border-color: #4d5061;
   outline: none;
}
#okta-sign-in.auth-container .okta-form-input-field.focused-input {
   border-color: #707280;
}

#okta-sign-in.auth-container .button-primary, #okta-sign-in.auth-container .button-primary:hover {
  background: #00BCD4;
  color: #1a1d18;
}
